{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row mb-4">
    <div id="dataflow">
      <h2>Start Dataflow Job</h2>
      <form action="?" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Job Name:</label>
          <input id="name" name="name" class="form-control" />
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary">Start Job</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 mt-4 mb-4">
      <div>
        <a href="https://github.com/RealKinetic/gcp_dataflow_demo">Python 2 Dataflow Repo</a>
      </div>
  </div>
</div>
{% endblock %}
