<!doctype html>
<html>
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Real Kinetic GCP Demo App</title>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark site-header sticky-top py-1">
    <a class="navbar-brand" href="#">Reak Kinetic - GCP Demo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('csvupload') }}">CSV Upload</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('dataflow') }}">Batch Dataflow</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('tasks') }}">Tasks</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('bigquery_results') }}">Big Query Results</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{{ url_for('config') }}">Configuration</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <div class="row">
      <div class="col-sm mt-4 mb-4">
        <h1 class="display-4 mx-auto" style="width: 850px;">
          Real Kinetic GCP Demo Application
        </h1>
      <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert alert-primary" role="alert">
              <ul class=flashes>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="row">
      {% block body %}{% endblock %}
    </div>

  </div>

</body>
</html>
